<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.2/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

</head>
<body>
    <div id="messages" ></div>
    <input id="message" type="text">
    <button id="sndbtn" >send</button>
    
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            var socket = io.connect('http://127.0.0.1:5000/');
            socket.on('connect', function() {
                socket.send('m connected!');
            });
        socket.on('message',function(data){
                $('#messages').append($('<p>').text(data));
        });
        $("#sndbtn").on('click',function(){
                socket.send($('#message').val());
        });

            });
       
    </script>    
</body>
</html>